<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Target Category</span>

    </div>
    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>
  </div>
</nav>
<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Target Category</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <span class="nav-link active" style="cursor:pointer;" (click)="addNewTargetCategory($event)" data-toggle="tab" [ngClass]="{'active': tabIndex == 1}">
                  <i class="material-icons fa fa-plus"></i> Add New
                  <div class="ripple-container"></div>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th style="max-width: 290px;min-width: 200px;text-align:center;">Name</th>
              <th style="max-width: 290px;min-width: 200px;text-align:center;">Image</th>

              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let category of targetCategories">
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  {{category?.name}}
                </td>
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  <img [src]='sanitizer.bypassSecurityTrustResourceUrl("data:image/png+xml;base64,"+category.image)' alt='no image'>
                  <!-- <img src='/images/marc.jpg' alt='' style="width: 15%;"> -->
                </td>

                <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">
                  <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">
                                                          
                                                      </button>-->

                  <button (click)="goToDetails(category)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                    <i class="fa fa-eye"></i> View</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row" *ngIf="showDetailViews">
  <div class="col-md-8" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Target Category Details</h4>
        <!--<p class="card-category">Complete your profile</p>-->
      </div>
      <div class="card-body">
        <div *ngIf='!isAddNewTarget'>
          <form [formGroup]="categoryForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">name</label>
                  <input type="text" readonly class="form-control" [(ngModel)]='targetCategory.name' id="name" placeholder="category name"
                    formControlName="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  <img [src]='sanitizer.bypassSecurityTrustResourceUrl("data:image/png+xml;base64,"+targetCategory.image)' alt="" style="width: 50%;">

                  <input type="file" id='fupTargetImage' class="form-control btn-primary" title="upload" name="targetImageUpload" (change)="onFileUpdateChange($event)"
                    #fileInput accept='.png' style="opacity: 1;position: initial; background-color: #0c7cd5;">
                </div>
              </div>

            </div>

            <button type="submit" *ngIf='!isAddNewTarget' (click)='updateCategory()' class="btn btn-primary pull-right">
              <i class="fa fa-edit"></i> Update</button>

            <button type="submit" *ngIf='!isAddNewTarget' (click)='deleteCategory()' class="btn btn-danger pull-right">
              <i class="fa fa-trash"></i> Delete</button>
            <div class="clearfix"></div>
          </form>

        </div>

        <div *ngIf='isAddNewTarget'>
          <form [formGroup]="categoryForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">name</label>
                  <input type="text" class="form-control" [(ngModel)]='newTargetCategory.name' id="name" placeholder="category name" formControlName="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Select Image</label>
                  <!-- <img [src]='targetImage.image' alt=""> -->
                  <input type="file" id='fupTargetImage' class="form-control btn-primary" title="upload" name="targetImageUpload" (change)="onFileChange($event)"
                    #fileInput accept='.png' style="opacity: 1;position: initial; background-color: #0c7cd5;">
                </div>
              </div>



            </div>
          </form>
          <button type="submit" class="btn btn-primary pull-right" (click)='saveCategory()'>
            <i class="fa fa-plus-square"></i> Save</button>
          <div class="clearfix"></div>
        </div>


      </div>
    </div>
  </div>

</div>
