<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Target Request Type</span>

    </div>
    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>
  </div>
</nav>
<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Target Request Type</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <span class="nav-link active" style="cursor:pointer;" (click)="addNew($event)" data-toggle="tab" [ngClass]="{'active': tabIndex == 1}">
                  <i class="material-icons fa fa-plus"></i> Add New
                  <div class="ripple-container"></div>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th style="max-width: 290px;min-width: 200px;text-align:center;">Request Type</th>

              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let requestType of targetRequestTypes">
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  {{requestType?.requestType}}
                </td>


                <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">
                  <button (click)="goToDetails(requestType)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                    <i class="fa fa-eye"></i> View</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="showDetailViews">
  <div class="col-md-8" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Target Request Type Details</h4>
        <!--<p class="card-category">Complete your profile</p>-->
      </div>
      <div class="card-body">
        <div *ngIf='!isAddNew'>
          <form [formGroup]="requestTypeForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Request Type</label>
                  <input class="form-control" [(ngModel)]="targetRequestType.requestType" id="requestType" placeholder="Request Type" formControlName="requestType">
                </div>
              </div>


            </div>
          </form>

          <button type="submit" *ngIf='!isAddNew' (click)='update()' class="btn btn-primary pull-right">
            <i class="fa fa-edit"></i> Update</button>

          <button type="submit" *ngIf='!isAddNew' (click)='delete()' class="btn btn-danger pull-right">
            <i class="fa fa-trash"></i> Delete</button>
          <div class="clearfix"></div>
        </div>

        <div *ngIf='isAddNew'>
          <form [formGroup]="requestTypeForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Request Type</label>
                  <input type="text" class="form-control" [(ngModel)]='newTargetRequestType.requestType' id="requestType" placeholder="requestType"
                    formControlName="requestType">
                </div>
              </div>


            </div>
          </form>
          <button type="submit" class="btn btn-primary pull-right" (click)='save()'>
            <i class="fa fa-plus-square"></i> Save</button>
          <div class="clearfix"></div>
        </div>


      </div>
    </div>
  </div>

</div>
