<div class="wrapper">

  <div class="ng-hide" style="position: relative; user-select: text;" [ngClass]="{'ng-hide': !requestOngoing}">
    <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div>
    <div class="spinner-wrapper">
      <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
        <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
          <div class="loader-wrapper" style="user-select: text;">
            <div class="load" style="user-select: text;">
              <div class="loader" style="user-select: text;"></div>
            </div>
            <div class="spinner-text" style="user-select: text;">Please wait...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
              Tip 2: you can also add an image using data-image tag
          -->
    <div class="logo">
      <span class="simple-text logo-normal">
        Bolade Ojelabi
      </span>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="goHome($event)">
            <!--<i class="material-icons">dashboard</i>-->
            <i class="fa fa-home material-icons" aria-hidden="true"></i>
            <p>Home</p>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#" (click)="goToProspects($event)">
            <!--<i class="material-icons">content_paste</i>-->
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
            <p>Prospects</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomers($event)">
            <!--<i class="material-icons">person</i>-->
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Customer Profiles</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerGoals($event)">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            <p>Target Goals</p>
          </a>
        </li>


        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerRequests($event)">
            <!--<i class="material-icons">bubble_chart</i>-->
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <p>Customer Requests</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerTransactions($event)">
            <!--<i class="material-icons">location_ons</i>-->
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <p>Transactions</p>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="openSettings($event)" style="color:#fff;">

            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p style="color:#fff;">Settings</p>
          </a>

        </li>

        <!--<li class="nav-item active-pro">
          <a class="nav-link" (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <p>Logout</p>
          </a>
      </li>-->
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" style="font-weight: 700;font-size: 14px;">
            <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
            <p style="font-size: 17px;">Logout</p>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="sidebar" *ngIf='isSettings' data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
      <span class="simple-text logo-normal">
        Settings
        <i class="fa fa-close material-icons" style="margin-left: 45%;" aria-hidden="true" (click)="closeSettings($event)"></i>
      </span>

    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="goToTargetImages($event)" style="color:#fff;">
            <i class="fa fa-image material-icons" aria-hidden="true"></i>
            <p style="color:#fff;">Goal Images</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-text-width material-icons" aria-hidden="true"></i>
            <p>Target Notes</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-thumbs-up material-icons" aria-hidden="true"></i>
            <p>Request Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-cog material-icons" aria-hidden="true"></i>
            <p>Target Frequency</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">
        <!--<div class="navbar-wrapper">
                      <a class="navbar-brand" href="#pablo">Prospects</a>
                  </div>-->

        <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
          <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Target Images</span>

        </div>
        <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
          <i style="font-weight:500;" class="fa fa-chevron-left"></i>
          <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
        </div>



      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content" *ngIf="!showDetailViews" style="margin-top:35px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Target Images</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <span class="nav-link active" style="cursor:pointer;" (click)="addNewTargetImage($event)" data-toggle="tab" [ngClass]="{'active': tabIndex == 1}">
                          <i class="material-icons fa fa-plus"></i> Add New
                          <div class="ripple-container"></div>
                        </span>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <th style="max-width: 290px;min-width: 200px;text-align:center;">Name</th>
                      <th style="max-width: 290px;min-width: 200px;text-align:center;">Image</th>

                      <th style="max-width: 100px;min-width: 100px;text-align:center;">
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let targetImage of targetImages">
                        <td style="max-width: 290px;min-width: 200px;text-align:center;">
                          {{targetImage?.name}}
                        </td>
                        <td style="max-width: 290px;min-width: 200px;text-align:center;">
                          <!-- <img [src]='targetImage.image' alt=''> -->
                          <img src='/images/marc.jpg' alt='' style="width: 15%;">
                        </td>

                        <td style="max-width: 100px;min-width: 100px;text-align:center;" class="td-actions text-right">
                          <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">
                                                            
                                                        </button>-->

                          <button (click)="goToDetails(targetImage)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                            <i class="fa fa-eye"></i> View</button>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="content" *ngIf="showDetailViews" style="margin-top:35px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Target Image Details</h4>
                <!--<p class="card-category">Complete your profile</p>-->
              </div>
              <div class="card-body">
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">name</label>
                        <input type="text" class="form-control" value="{{targetImage.name}}">
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf='!isAddNewTarget'>
                      <div class="form-group">
                        <label class="bmd-label-floating"></label>
                        <!-- <img [src]='targetImage.image' alt=""> -->
                        <img src='/images/marc.jpg' alt='' style="width: 50%;">
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf='isAddNewTarget'>
                      <div class="form-group">
                        <label class="bmd-label-floating">Select Image</label>
                        <!-- <img [src]='targetImage.image' alt=""> -->
                        <input type="file" title="upload" name="targetImageUpload">
                      </div>
                    </div>
                  </div>


                  <button type="submit" *ngIf='isAddNewTarget' class="btn btn-primary pull-right">
                    <i class="fa fa-plus-square"></i> Save</button>

                  <button type="submit" *ngIf='!isAddNewTarget' class="btn btn-primary pull-right">
                    <i class="fa fa-edit"></i> Update</button>

                  <button type="submit" *ngIf='!isAddNewTarget' class="btn btn-danger pull-right">
                    <i class="fa fa-trash"></i> Delete</button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer ">
      <div class="container-fluid">
        <div class="copyright pull-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>
          <a href="#" (click)="goHome($event)">FCMB</a>
        </div>
      </div>
    </footer>
  </div>
</div>
