<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Customer Goals</span>
      <i *ngIf="showDetailViews" class="fa fa-angle-double-right" style="font-weight:500;"></i>
      <span *ngIf="showDetailViews" class="navbar-brand" style="margin-left: 5px;font-weight:500;">Details</span>
    </div>

    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>

  </div>
</nav>

<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Customer goals</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th style="max-width: 270px;min-width: 200px;text-align:center;">Customer Name</th>

              <th style="max-width: 270px;min-width: 200px;text-align:center;">Goal Name</th>

              <th style="max-width: 170px;min-width: 170px;text-align:center;">
                Amount
              </th>
              <th style="max-width: 100px;min-width: 80px;text-align:center;">
                Frequency
              </th>

              <th style="max-width: 170px;min-width: 170px;text-align:center;">Frequency Amount</th>

              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let goal of customerGoals">
                <td style="max-width: 270px;min-width: 200px;text-align:center;">
                  {{goal.customerProfile.surname}} {{goal.customerProfile.firstName}}
                </td>
                <td style="max-width: 270px;min-width: 200px;text-align:center;">
                  {{goal.goalName}}
                </td>
                <td style="max-width: 150px;min-width: 150px;text-align:center;">
                  {{goal.targetAmount | number: '.2'}}
                </td>
                <td style="max-width: 100px;min-width: 80px;text-align:center;">
                  {{goal.targetFrequency}}
                </td>
                <td style="max-width: 170px;min-width: 170px;text-align:center;">
                  {{goal.targetFrequencyAmount | number: '.2'}}
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">
                  <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">

                                                  </button>-->

                  <button (click)="goToGoalDetails(goal.targetGoalsId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                    <i class="fa fa-eye"></i> View</button>

                </td>
              </tr>
              <tr>
                <td colspan="6" style="text-align:center ! important;">
                  <button (click)="getMore($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                    More ({{totalItemsInView}}/{{totalItemsCount}})
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="showDetailViews">
  <div class="col-lg-10" style="margin: 0 auto;">
    <div class="card card-profile" style="text-align:left;">
      <div class="card-avatar" style="width: 120px;height: 120px;">
        <span>
          <!-- <img class="img" src="../images/house.png"> -->
          <img class="img" [src]='goal.targetGoalPics'>
        </span>
      </div>


      <div class="card-body">

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Customer Name</label>
                <input type="text" class="form-control" disabled="" value="{{goal.customerProfile.surname}} {{goal.customerProfile.firstName}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Goal Name</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalName}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <!--<label>Goal Description</label>-->
                <div class="form-group">
                  <label class="bmd-label-floating"> Goal Description</label>
                  <textarea disabled="" class="form-control" rows="5">{{goal.goalDescription}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Target Amount</label>
                <input type="text" class="form-control" disabled="" value="{{goal.targetAmount | number: '.2'}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Frequency</label>
                <input type="text" class="form-control" disabled="" value="{{goal.targetFrequency}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Frequency Amount</label>
                <input type="text" class="form-control" disabled="" value="{{goal.targetFrequencyAmount | number: '.2'}}">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Start Date</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalStartDate}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">End Date</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalEndDate}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Next Run Date</label>
                <input type="text" class="form-control" disabled="" value="{{goal.nextRunDate}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Last Run Date</label>
                <input type="text" class="form-control" disabled="" value="{{goal.lastRunDate}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Start Amount</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalStartAmount | number: '.2'}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Balance</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalBalance | number: '.2'}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Status</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalStatus}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Interest Earned</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalnterestEarned | number: '.2'}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Card Details</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalCardTokenDetails}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Debit Account No</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalDebitAccountNo}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Debit Bank</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalDebitBank}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Debit Type</label>
                <input type="text" class="form-control" disabled="" value="{{goal.goalDebitType}}">
              </div>
            </div>
          </div>


          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

</div>
