<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">

    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Prospects</span>
      <i *ngIf="showDetailViews" class="fa fa-angle-double-right" style="font-weight:500;"></i>
      <span *ngIf="showDetailViews" class="navbar-brand" style="margin-left: 5px;font-weight:500;">Details</span>
    </div>

    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>


  </div>
</nav>

<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Prospects</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th style="max-width: 290px;min-width: 200px;text-align:center;">First Name</th>
              <th style="max-width: 290px;min-width: 200px;text-align:center;">Last Name</th>
              <th style="max-width: 150px;min-width: 150px;text-align:center;">
                Phone No
              </th>
              <th style="max-width: 170px;min-width: 170px;text-align:center;">Email</th>
              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                FCMB Customer
              </th>
              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let prospect of prospects">
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  {{prospect.firstName}}
                </td>
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  {{prospect.surname}}
                </td>
                <td style="max-width: 150px;min-width: 150px;text-align:center;">
                  {{prospect.phoneNumber}}
                </td>
                <td style="max-width: 170px;min-width: 170px;text-align:center;">
                  {{prospect.emailAddress}}
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="prospect.isFCMBCustomer" class="text-primary">
                  Yes
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="!prospect.isFCMBCustomer" class="text-primary">
                  No
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">
                  <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">
                                                      
                                                  </button>-->

                  <button (click)="goToProspectDetails(prospect.prospectId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                    <i class="fa fa-eye"></i> View</button>

                </td>
              </tr>
              <tr>
                <td colspan="6" style="text-align:center ! important;">
                  <button (click)="getMoreProspect($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                    More ({{totalItemsInView}}/{{totalItemsCount}})
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row" *ngIf="showDetailViews">
  <div class="col-md-8" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Prospect Details</h4>
        <!--<p class="card-category">Complete your profile</p>-->
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Surname</label>
                <input type="text" class="form-control" disabled="" value="{{prospect.surname}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Firstname</label>
                <input type="text" class="form-control" disabled="" value="{{prospect.firstName}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Phone Number</label>
                <input type="text" class="form-control" disabled="" value="{{prospect.phoneNumber}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Email address</label>
                <input *ngIf="prospect.emailAddress && prospect.emailAddress.length > 0" type="text" class="form-control" disabled="" value="{{prospect.emailAddress}}">
                <input *ngIf="!prospect.emailAddress || (prospect.emailAddress && prospect.emailAddress.length < 1)" type="text" class="form-control"
                  disabled="" value="N/A">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">BVN</label>
                <input type="text" class="form-control" disabled="" value="{{prospect.biometricVerificationNo}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">FCMB Customer</label>
                <input *ngIf="prospect.isFCMBCustomer == 'y'" type="text" class="form-control" disabled="" value="Yes">
                <input *ngIf="prospect.isFCMBCustomer != 'y'" type="text" class="form-control" disabled="" value="No">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Date Created</label>
                <input type="text" class="form-control" disabled="" value="{{prospect.dateCreated}}">
              </div>
            </div>
          </div>



          <!-- <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-trash"></i> Delete Prospect</button> -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

</div>
