<div class="wrapper">

  <div class="ng-hide" style="position: relative; user-select: text;" [ngClass]="{'ng-hide': !requestOngoing}">
    <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div>
    <div class="spinner-wrapper">
      <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
        <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
          <div class="loader-wrapper" style="user-select: text;">
            <div class="load" style="user-select: text;">
              <div class="loader" style="user-select: text;"></div>
            </div>
            <div class="spinner-text" style="user-select: text;">Please wait...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
    <div class="logo">
      <span class="simple-text logo-normal">
        Bolade Ojelabi
      </span>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="goHome($event)">
            <!--<i class="material-icons">dashboard</i>-->
            <i class="fa fa-home material-icons" aria-hidden="true"></i>
            <p>Home</p>
          </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="goToProspects($event)" style="color:#fff;">
            <!--<i class="material-icons">content_paste</i>-->
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
            <p style="color:#fff;">Prospects</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomers($event)">
            <!--<i class="material-icons">person</i>-->
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Customer Profiles</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerGoals($event)">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            <p>Target Goals</p>
          </a>
        </li>


        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerRequests($event)">
            <!--<i class="material-icons">bubble_chart</i>-->
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <p>Customer Requests</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerTransactions($event)">
            <!--<i class="material-icons">location_ons</i>-->
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <p>Transactions</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goHome($event)">
            <!--<i class="material-icons">notifications</i>-->
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p>Settings</p>
          </a>
        </li>

        <!--<li class="nav-item active-pro">
        <a class="nav-link" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <p>Logout</p>
        </a>
    </li>-->
        <li class="nav-item active-pro" style="cursor: pointer;">
          <a class="nav-link" style="font-weight: 700;font-size: 14px;">
            <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
            <p style="font-size: 17px;">Logout</p>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">


        <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
          <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Prospects</span>
          <i *ngIf="showDetailViews" class="fa fa-angle-double-right" style="font-weight:500;"></i>
          <span *ngIf="showDetailViews" class="navbar-brand" style="margin-left: 5px;font-weight:500;">Details</span>
        </div>

        <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
          <i style="font-weight:500;" class="fa fa-chevron-left"></i>
          <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
        </div>


      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content" *ngIf="!showDetailViews" style="margin-top:35px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Prospects</h4>
                <!--<p class="card-category"> Here is a subtitle for this table</p>-->
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <th style="max-width: 290px;min-width: 200px;text-align:center;">First Name</th>
                      <th style="max-width: 290px;min-width: 200px;text-align:center;">Last Name</th>
                      <th style="max-width: 150px;min-width: 150px;text-align:center;">
                        Phone No
                      </th>
                      <th style="max-width: 170px;min-width: 170px;text-align:center;">Email</th>
                      <th style="max-width: 100px;min-width: 100px;text-align:center;">
                        FCMB Customer
                      </th>
                      <th style="max-width: 100px;min-width: 100px;text-align:center;">
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prospect of prospects">
                        <td style="max-width: 290px;min-width: 200px;text-align:center;">
                          {{prospect.firstName}}
                        </td>
                        <td style="max-width: 290px;min-width: 200px;text-align:center;">
                          {{prospect.surname}}
                        </td>
                        <td style="max-width: 150px;min-width: 150px;text-align:center;">
                          {{prospect.phoneNumber}}
                        </td>
                        <td style="max-width: 170px;min-width: 170px;text-align:center;">
                          {{prospect.emailAddress}}
                        </td>
                        <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="prospect.isFCMBCustomer" class="text-primary">
                          Yes
                        </td>
                        <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="!prospect.isFCMBCustomer" class="text-primary">
                          No
                        </td>
                        <td style="max-width: 100px;min-width: 100px;text-align:center;" class="td-actions text-right">
                          <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">
                                                        
                                                    </button>-->

                          <button (click)="goToProspectDetails(prospect.prospectId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                            <i class="fa fa-eye"></i> View</button>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="content" *ngIf="showDetailViews" style="margin-top:35px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Prospect Details</h4>
                <!--<p class="card-category">Complete your profile</p>-->
              </div>
              <div class="card-body">
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Surname</label>
                        <input type="text" class="form-control" disabled="" value="{{prospect.surname}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Firstname</label>
                        <input type="text" class="form-control" disabled="" value="{{prospect.firstName}}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Phone Number</label>
                        <input type="text" class="form-control" disabled="" value="{{prospect.phoneNumber}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Email address</label>
                        <input *ngIf="prospect.emailAddress && prospect.emailAddress.length > 0" type="text" class="form-control" disabled="" value="{{prospect.emailAddress}}">
                        <input *ngIf="!prospect.emailAddress || (prospect.emailAddress && prospect.emailAddress.length < 1)" type="text" class="form-control"
                          disabled="" value="N/A">
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">BVN</label>
                        <input type="text" class="form-control" disabled="" value="{{prospect.biometricVerificationNo}}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">FCMB Customer</label>
                        <input *ngIf="prospect.isFCMBCustomer == 'y'" type="text" class="form-control" disabled="" value="Yes">
                        <input *ngIf="prospect.isFCMBCustomer != 'y'" type="text" class="form-control" disabled="" value="No">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Date Created</label>
                        <input type="text" class="form-control" disabled="" value="{{prospect.dateCreated}}">
                      </div>
                    </div>
                  </div>



                  <button type="submit" class="btn btn-primary pull-right">
                    <i class="fa fa-trash"></i> Delete Prospect</button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer ">
      <div class="container-fluid">
        <div class="copyright pull-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>
          <a href="#" (click)="goHome($event)">FCMB</a>
        </div>
      </div>
    </footer>
  </div>
</div>
