<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Registered Customers</span>
      <i *ngIf="showDetailViews" class="fa fa-angle-double-right" style="font-weight:500;"></i>
      <span *ngIf="showDetailViews" class="navbar-brand" style="margin-left: 5px;font-weight:500;">Details</span>
    </div>

    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>

  </div>
</nav>

<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Registered Customers</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th style="max-width: 290px;min-width: 200px;text-align:center;">Name</th>

              <th style="max-width: 150px;min-width: 150px;text-align:center;">
                BVN
              </th>
              <th style="max-width: 150px;min-width: 150px;text-align:center;">
                Phone No
              </th>

              <th style="max-width: 170px;min-width: 170px;text-align:center;">Email</th>
              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                FCMB Customer
              </th>
              <th style="max-width: 100px;min-width: 100px;text-align:center;">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td style="max-width: 290px;min-width: 200px;text-align:center;">
                  {{customer.surname}} {{customer.firstName}}
                </td>
                <td style="max-width: 150px;min-width: 150px;text-align:center;">
                  {{customer.biometricVerificationNo}}
                </td>
                <td style="max-width: 150px;min-width: 150px;text-align:center;">
                  {{customer.phoneNumber}}
                </td>
                <td style="max-width: 170px;min-width: 170px;text-align:center;">
                  {{customer.emailAddress}}
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="customer.isFCMBCustomer == 'y'" class="text-primary">
                  Yes
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center;" *ngIf="customer.isFCMBCustomer != 'y'" class="text-primary">
                  No
                </td>
                <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">
                  <!--<button type="button" rel="tooltip" title="View Details" class="btn btn-primary btn-link btn-sm">

                                        </button>-->

                  <button (click)="goToCustomerDetails(customer.customerProfileId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                    <i class="fa fa-eye"></i> View</button>

                </td>
              </tr>
              <tr>
                <td colspan="6" style="text-align:center ! important;">
                  <button (click)="getMore($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                    More ({{totalItemsInView}}/{{totalItemsCount}})
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="showDetailViews">
  <div class="col-md-12">
    <div class="card card-profile" style="text-align:left;">
      <div class="card-avatar">
        <span>
          <!-- <img class="img" src="../images/marc.jpg"> -->
          <img class="img" [src]="customer.profilePicture">
        </span>
      </div>

      <div class="card-body">

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Surname</label>
                <input type="text" class="form-control" disabled="" value="{{customer.surname}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Firstname</label>
                <input type="text" class="form-control" disabled="" value="{{customer.firstName}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Phone Number</label>
                <input type="text" class="form-control" disabled="" value="{{customer.phoneNumber}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Email address</label>
                <input *ngIf="customer.emailAddress && customer.emailAddress.length > 0" type="text" class="form-control" disabled="" value="{{customer.emailAddress}}">
                <input *ngIf="!customer.emailAddress || (customer.emailAddress && customer.emailAddress.length < 1)" type="text" class="form-control"
                  disabled="" value="N/A">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">BVN</label>
                <input type="text" class="form-control" disabled="" value="{{customer.biometricVerificationNo}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">FCMB Customer</label>
                <input *ngIf="customer.isFCMBCustomer == 'y'" type="text" class="form-control" disabled="" value="Yes">
                <input *ngIf="customer.isFCMBCustomer != 'y'" type="text" class="form-control" disabled="" value="No">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Date Created</label>
                <input type="text" class="form-control" disabled="" value="{{customer.dateCreated}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Address</label>
                <input type="text" class="form-control" disabled="" value="{{customer.address}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Next Of Kin Name</label>
                <input *ngIf="customer.nextOfKinFullName && customer.nextOfKinFullName.length > 0" type="text" class="form-control" disabled=""
                  value="{{customer.nextOfKinFullName}}">
                <input *ngIf="!customer.nextOfKinFullName || (customer.nextOfKinFullName && customer.nextOfKinFullName.length < 1)" type="text"
                  class="form-control" disabled="" value="N/A">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Next Of Kin Phone No</label>
                <input *ngIf="customer.nextOfKinPhone && customer.nextOfKinPhone.length > 0" type="text" class="form-control" disabled=""
                  value="{{customer.nextOfKinPhone}}">
                <input *ngIf="!customer.nextOfKinPhone || (customer.nextOfKinPhone && customer.nextOfKinPhone.length < 1)" type="text" class="form-control"
                  disabled="" value="N/A">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Next Of Kin Email Address</label>
                <input *ngIf="customer.nextOfKinEmail && customer.nextOfKinEmail.length > 0" type="text" class="form-control" disabled=""
                  value="{{customer.nextOfKinEmail}}">
                <input *ngIf="!customer.nextOfKinEmail || (customer.nextOfKinEmail && customer.nextOfKinEmail.length < 1)" type="text" class="form-control"
                  disabled="" value="N/A">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Profile Status</label>
                <input type="text" class="form-control" disabled="" value="{{customer.profileStatus }}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Last Login Date</label>
                <input type="text" class="form-control" disabled="" value="{{customer.lastLoginDate}}">
              </div>
            </div>
          </div>






          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="card card-profile" style="text-align:left;">
    

      <div class="card-header card-header-primary">
        <h4 class="card-title">Change Password</h4>
        <p class="card-category">Initiate password reset for customers</p>
      </div>

      <div class="card-body">
       

        <div class="row">
          <div class="" style="max-width:70%; width:70%;margin: 0 auto;">
            <div class="form-group">
              <label class="bmd-label-floating">New Password</label>
              <input type="text" class="form-control" style="margin-top: -14px;">
            </div>
          </div>
          <button class="btn btn-primary btn-round" type="submit" style="margin: 0 auto;margin-top: 10px;">
            <i class="fa fa-edit">
            </i> Change
          </button>
        </div>
       
      </div>
    </div>
  </div> -->



</div>
