<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Customer Requests</span>
      <i *ngIf="showDetailViews" class="fa fa-angle-double-right" style="font-weight:500;"></i>
      <span *ngIf="showDetailViews" class="navbar-brand" style="margin-left: 5px;font-weight:500;">Details</span>
    </div>

    <div (click)="goBackToList()" *ngIf="showDetailViews" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>

  </div>
</nav>
<div class="row" *ngIf="!showDetailViews">
  <div class="col-md-12">
    <div class="card">


      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Requests:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <span class="nav-link active" style="cursor:pointer;" (click)="GetPendingRequest($event)" data-toggle="tab" [ngClass]="{'active': tabIndex == 1}">
                  <i class="material-icons fa fa-tasks"></i> Pending
                  <div class="ripple-container"></div>
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-link" style="cursor:pointer;" data-toggle="tab" (click)="GetTreatedRequest($event)" [ngClass]="{'active': tabIndex == 2}">
                  <i class="material-icons fa fa-check-circle"></i> Treated
                  <div class="ripple-container"></div>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane table-responsive active" *ngIf="tabIndex == 1">
            <table class="table table-hover">
              <thead class="text-primary">
                <th style="max-width: 270px;min-width: 200px;text-align:center;">Customer Name</th>

                <th style="max-width: 270px;min-width: 200px;text-align:center;">Goal Name</th>

                <th style="max-width: 150px;min-width: 150px;text-align:center;">
                  Request Type
                </th>

                <th style="max-width: 170px;min-width: 170px;text-align:center;">Request Date</th>

                <th style="max-width: 100px;min-width: 100px;text-align:center;">
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let request of pendingCustomerRequests">
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{request.targetGoal.customerProfile.surname}} {{request.targetGoal.customerProfile.firstName}}
                  </td>
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{request.targetGoal.goalName}}
                  </td>
                  <td style="max-width: 150px;min-width: 150px;text-align:center;">
                    {{request.requestType.requestType}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{request.requestDate}}
                  </td>
                  <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">

                    <button (click)="goToNewDetails(request.requestId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                      <i class="fa fa-eye"></i> View</button>

                  </td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align:center ! important;">
                    <button (click)="getMoreNew($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                      More ({{totalItemsInViewNew}}/{{totalItemsCountNew}})
                      <i class="fa fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="tab-pane table-responsive active" *ngIf="tabIndex == 2">
            <table class="table table-hover">
              <thead class="text-primary">
                <th style="max-width: 270px;min-width: 200px;text-align:center;">Customer Name</th>

                <th style="max-width: 270px;min-width: 200px;text-align:center;">Goal Name</th>

                <th style="max-width: 150px;min-width: 150px;text-align:center;">
                  Request Type
                </th>

                <th style="max-width: 170px;min-width: 170px;text-align:center;">Request Date</th>
                <th style="max-width: 170px;min-width: 170px;text-align:center;">Treated Date</th>
                <th style="max-width: 170px;min-width: 170px;text-align:center;">Approval Status</th>

                <th style="max-width: 100px;min-width: 100px;text-align:center;">
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let treatedRequest of treatedCustomerRequests">
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{treatedRequest.targetGoal.customerProfile.surname}} {{treatedRequest.targetGoal.customerProfile.firstName}}
                  </td>
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{treatedRequest.targetGoal.goalName}}
                  </td>
                  <td style="max-width: 150px;min-width: 150px;text-align:center;">
                    {{treatedRequest.requestType.requestType}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{treatedRequest.requestDate}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{treatedRequest.dateTreated}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{treatedRequest.approvalStatus}}
                  </td>
                  <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">

                    <button (click)="goToTreatedDetails(request.requestId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                      <i class="fa fa-eye"></i> View</button>

                  </td>
                </tr>
                <tr>
                  <td colspan="7" style="text-align:center ! important;">
                    <button (click)="getMoreTreated($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                      More ({{totalItemsInViewTreated}}/{{totalItemsCountTreated}})
                      <i class="fa fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    </div>
  </div>

</div>

<div class="row" *ngIf="showDetailViews">


  <div class="col-lg-10" style="margin: 0 auto;">
    <div class="card card-profile" style="text-align:left;">

      <div class="card-body">

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Customer Name</label>
                <input type="text" class="form-control" disabled="" value="{{request.targetGoal.customerProfile.surname}} {{request.targetGoal.customerProfile.firstName}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Goal Name</label>
                <input type="text" class="form-control" disabled="" value="{{request.targetGoal.goalName}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Request Type</label>
                <input type="text" class="form-control" disabled="" value="{{request.requestType.requestType}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Request Date</label>
                <input type="text" class="form-control" disabled="" value="{{request.requestDate}}">
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <!--<label>Goal Description</label>-->
                <div class="form-group">
                  <label class="bmd-label-floating"> Request Description</label>
                  <textarea disabled="" class="form-control" rows="5">{{request.requestDescription}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">Status</label>
                <input type="text" class="form-control" disabled="" value="{{request.status}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">Approval Status</label>
                <input type="text" class="form-control" disabled="" value="{{request.approvalStatus}}">
              </div>
            </div>
            <div class="col-md-3" *ngIf="request.status.toLowerCase() == 'treated'">
              <div class="form-group">
                <label class="bmd-label-floating">Treated By</label>
                <input type="text" class="form-control" disabled="" value="{{request.treatedBy}}">
              </div>
            </div>
            <div class="col-md-3" *ngIf="request.status.toLowerCase() == 'treated'">
              <div class="form-group">
                <label class="bmd-label-floating">Date Treated</label>
                <input type="text" class="form-control" disabled="" value="{{request.dateTreated}}">
              </div>
            </div>
          </div>

          <button *ngIf="request.status.toLowerCase() == 'new'" (click)="treatRequest($event)" type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-check-circle"></i> Mark as treated</button>
          <button *ngIf="request.status.toLowerCase() == 'new'" (click)="rejectRequest($event)" type="submit" class="btn btn-danger pull-right">
            <i class="fa fa-ban"></i> Mark as rejected</button>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

</div>
