<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="color: #9c27b0;font-weight:500;">
      <span class="navbar-brand" style="margin-right: 5px;font-weight:500;">Customer Transactions</span>
      <i *ngIf="pageIndex != 1" class="fa fa-angle-double-right" style="font-weight:500;"></i>
      <span *ngIf="pageIndex != 1" class="navbar-brand" style="margin-left: 5px;font-weight:500;">{{pageSubtitle}}</span>
    </div>

    <div (click)="addNewTransaction()" *ngIf="pageIndex == 1" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-plus-circle"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">New Transaction</span>
    </div>


    <div (click)="goBackToList()" *ngIf="pageIndex != 1" class="navbar-wrapper" style="font-weight:500;color: #9c27b0; cursor:pointer;">
      <i style="font-weight:500;" class="fa fa-chevron-left"></i>
      <span class="navbar-brand" style="margin-left: 5px;font-weight:500;">Back</span>
    </div>

  </div>
</nav>
<div class="row" *ngIf="pageIndex == 1">
  <div class="col-md-12">
    <div class="card">


      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Transactions:</span>
            <!-- <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <span class="nav-link active" style="cursor:pointer;" (click)="GetPendingTransactions($event)" data-toggle="tab" [ngClass]="{'active': tabIndex == 1}">
                  <i class="material-icons fa fa-tasks"></i> Pending
                  <div class="ripple-container"></div>
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-link" style="cursor:pointer;" data-toggle="tab" (click)="GetApprovedTransactions($event)" [ngClass]="{'active': tabIndex == 2}">
                  <i class="material-icons fa fa-check-circle"></i> Approved
                  <div class="ripple-container"></div>
                </span>
              </li>
            </ul> -->
          </div>
        </div>
      </div>


      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane table-responsive active" *ngIf="tabIndex == 1">
            <table class="table table-hover">
              <thead class="text-primary">
                <th style="max-width: 270px;min-width: 200px;text-align:center;">Customer Name</th>

                <th style="max-width: 270px;min-width: 200px;text-align:center;">Goal Name</th>

                <th style="max-width: 150px;min-width: 170px;text-align:center;">
                  Amount
                </th>

                <th style="max-width: 150px;min-width: 150px;text-align:center;">
                  Transaction Type
                </th>

                <th style="max-width: 170px;min-width: 170px;text-align:center;">Transaction Date</th>

                <th style="max-width: 100px;min-width: 100px;text-align:center;">
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of customerTransactions">
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{transaction.targetGoal.customerProfile.surname}} {{transaction.targetGoal.customerProfile.firstName}}
                  </td>
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{transaction.targetGoal.goalName}}
                  </td>
                  <td style="max-width: 150px;min-width: 170px;text-align:center;">
                    {{transaction.amount | number: '.2'}}
                  </td>
                  <td style="max-width: 150px;min-width: 150px;text-align:center;">
                    {{transaction.transactionType}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{transaction.transactionDate}}
                  </td>
                  <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">

                    <button (click)="goToTransactionDetails(transaction.transactionId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                      <i class="fa fa-eye"></i> View</button>

                  </td>
                </tr>
                <tr>
                  <td colspan="6" style="text-align:center ! important;">
                    <button (click)="getMore($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                      More ({{totalItemsInView}}/{{totalItemsCount}})
                      <i class="fa fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="tab-pane table-responsive active" *ngIf="tabIndex == 2">
            <table class="table table-hover">
              <thead class="text-primary">
                <th style="max-width: 270px;min-width: 200px;text-align:center;">Customer Name</th>

                <th style="max-width: 270px;min-width: 200px;text-align:center;">Goal Name</th>

                <th style="max-width: 150px;min-width: 170px;text-align:center;">
                  Amount
                </th>

                <th style="max-width: 150px;min-width: 150px;text-align:center;">
                  Transaction Type
                </th>

                <th style="max-width: 170px;min-width: 170px;text-align:center;">Transaction Date</th>

                <th style="max-width: 100px;min-width: 100px;text-align:center;">
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of customerTransactions">
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{transaction.targetGoal.customerProfile.surname}} {{transaction.targetGoal.customerProfile.firstName}}
                  </td>
                  <td style="max-width: 270px;min-width: 200px;text-align:center;">
                    {{transaction.targetGoal.goalName}}
                  </td>
                  <td style="max-width: 150px;min-width: 170px;text-align:center;">
                    {{transaction.amount | number: '.2'}}
                  </td>
                  <td style="max-width: 150px;min-width: 150px;text-align:center;">
                    {{transaction.transactionType}}
                  </td>
                  <td style="max-width: 170px;min-width: 170px;text-align:center;">
                    {{transaction.transactionDate}}
                  </td>
                  <td style="max-width: 100px;min-width: 100px;text-align:center ! important;" class="td-actions text-right">

                    <button (click)="goToTransactionDetails(transaction.transactionId)" type="submit" class="btn btn-primary btn-sm" style="padding: 0.40625rem 1.25rem;">
                      <i class="fa fa-eye"></i> View</button>

                  </td>
                </tr>
                <tr>
                  <td colspan="6" style="text-align:center ! important;">
                    <button (click)="getMore($event)" type="submit" class="btn btn-warning btn-sm" style="padding: 0.40625rem 1.25rem;">
                      More ({{totalItemsInView}}/{{totalItemsCount}})
                      <i class="fa fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    </div>
  </div>

</div>
<div class="row" *ngIf="pageIndex == 2">


  <div class="col-lg-10" style="margin: 0 auto;">
    <div class="card card-profile" style="text-align:left;">

      <div class="card-body">

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Customer Name</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.targetGoal.customerProfile.surname}} {{transaction.targetGoal.customerProfile.firstName}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Goal Name</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.targetGoal.goalName}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <!--<label>Goal Description</label>-->
                <div class="form-group">
                  <label class="bmd-label-floating"> Narration</label>
                  <textarea disabled="" class="form-control" rows="5">{{transaction.narration}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Amount</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.amount | number: '.2'}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Transaction Type</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.transactionType}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Posted By</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.postedBy}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Posted Date</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.postedDate}}">
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Status</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.status}}">
              </div>
            </div> -->
          </div>


          <div class="row">
            <div class="col-md-6" *ngIf="transaction.approvedBy != ''">
              <div class="form-group">
                <label class="bmd-label-floating">Approved By</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.approvedBy}}">
              </div>
            </div>
            <div class="col-md-6" *ngIf="transaction.approvedBy != ''">
              <div class="form-group">
                <label class="bmd-label-floating">Approval Date</label>
                <input type="text" class="form-control" disabled="" value="{{transaction.approvedDate}}">
              </div>
            </div>
          </div>

          <!-- <button *ngIf="transaction.approvedBy == ''" (click)="approveTransaction($event)" type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-check-circle"></i> Approve</button> -->


          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="pageIndex == 3">
  <div class="col-lg-10" style="margin: 0 auto;">
    <div class="card card-profile" style="text-align:left;">

      <div class="card-body">

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Customer</label>
                <!--<input type="text" class="form-control">-->

                <select class="form-control">
                  <option value="1">Select customer...</option>
                  <option value="1">Adeboye Alan, 0023838492</option>
                  <option value="1">Coker David, 0023838493</option>
                  <option value="1">James Obong, 0023838494</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Target Goal</label>
                <select class="form-control">
                  <option value="1">Select goal...</option>
                  <option value="1">Wedding Ceremony</option>
                  <option value="1">PHD</option>
                  <option value="1">Baby dedication</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Amount</label>
                <input type="text" class="form-control" value="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Transaction Type</label>
                <!--<input type="text" class="form-control">-->

                <select class="form-control">
                  <option value="1">Select type...</option>
                  <option value="1">Credit
                    <option value="1">Debit</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <!--<label>Goal Description</label>-->
                <div class="form-group">
                  <label class="bmd-label-floating"> Narration</label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>





          <button (click)="addTransaction($event)" type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-plus-circle"></i> Add</button>


          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

</div>
