<div class="wrapper">

  <div *ngIf='loggedIn'>
    <div class="ng-hide" style="position: relative; user-select: text;" [ngClass]="{'ng-hide': !requestOngoing}">
      <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div>
      <div class="spinner-wrapper">
        <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
          <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
            <div class="loader-wrapper" style="user-select: text;">
              <div class="load" style="user-select: text;">
                <div class="loader" style="user-select: text;"></div>
              </div>
              <div class="spinner-text" style="user-select: text;">Please wait...</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar" *ngIf='!isSettings' data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
              Tip 2: you can also add an image using data-image tag
          -->
      <div class="logo">
        <span class="simple-text logo-normal">
          Bolade Ojelabi
        </span>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active ">
            <a class="nav-link" href="#" (click)='gotoDashboard($event)' style="color:#fff;">
              <!--<i class="material-icons">dashboard</i>-->
              <i class="fa fa-home material-icons" aria-hidden="true"></i>
              <p style="color:#fff;">Home</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="goToProspects($event)" style="cursor:pointer;">
              <!--<i class="material-icons">content_paste</i>-->
              <i class="fa fa-address-book-o" aria-hidden="true"></i>
              <p>Prospects</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" (click)="goToCustomers($event)">
              <!--<i class="material-icons">person</i>-->
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Customer Profiles</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#" (click)="goToCustomerGoals($event)">
              <i class="fa fa-bullseye" aria-hidden="true"></i>
              <p>Target Goals</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#" (click)="goToCustomerRequests($event)">
              <!--<i class="material-icons">bubble_chart</i>-->
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <p>Customer Requests</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" (click)="goToCustomerTransactions($event)">
              <!--<i class="material-icons">location_ons</i>-->
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
              <p>Transactions</p>
            </a>
          </li>

          <!--<li class="nav-item ">
            <a class="nav-link" href="#" (click)="goHome($event)">
              
              <i class="fa fa-cogs" aria-hidden="true"></i>
              <p>Settings</p>
            </a>
  
          </li>-->
          <li class="nav-item ">
            <a class="nav-link" href="#" (click)="openSettings($event)">

              <i class="fa fa-cogs" aria-hidden="true"></i>
              <p>Settings</p>
            </a>

          </li>

          <!--<li class="nav-item active-pro">
          <a class="nav-link" (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <p>Logout</p>
          </a>
      </li>-->
          <li class="nav-item" style="cursor: pointer;">
            <a class="nav-link" (click)='logout($event)' style="font-weight: 700;font-size: 14px;">
              <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
              <p style="font-size: 17px;">Logout</p>
            </a>
          </li>
          <!-- <li class="nav-item active-pro" style="cursor: pointer;">
            <a class="nav-link" style="font-weight: 700;font-size: 14px;">
              <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
              <p style="font-size: 17px;">Logout</p>
            </a>
          </li> -->

        </ul>
      </div>
    </div>
    <div class="sidebar" *ngIf='isSettings' data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo">
        <span class="simple-text logo-normal">
          Settings
          <i class="fa fa-close material-icons" style="margin-left: 45%;" aria-hidden="true" (click)="closeSettings($event)"></i>
        </span>

      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="goToTargetCategory($event)">
              <i class="fa fa-image material-icons" aria-hidden="true"></i>
              <p>Goal Category</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-text-width material-icons" aria-hidden="true"></i>
              <p>Target Notes</p>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="goToTargetRequestType($event)">
              <i class="fa fa-thumbs-up material-icons" aria-hidden="true"></i>
              <p>Request Types</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)='goToTargetFrequency($event)'>
              <i class="fa fa-cog material-icons" aria-hidden="true"></i>
              <p>Target Frequency</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <!-- Navbar -->
    <nav *ngIf='loggedIn' class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <!-- <a class="navbar-brand" href="#pablo">{{currentPage}}</a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>

      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <!-- <div class="container-fluid" style="margin-top: -20px;"> -->
      <div class="container-fluid" [ngStyle]="{'margin-top':loggedIn ? '-20px' : '-100px','margin-left':loggedIn ? '0px' : '-105px'}">

        <router-outlet> </router-outlet>
      </div>
    </div>
    <footer *ngIf='loggedIn' class="footer ">
      <div class="container-fluid">

        <div class="copyright pull-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>
          <a href="#" (click)="goHome($event)">FCMB</a>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- <div class="wrapper" *ngIf='requiresAuth'>
  <router-outlet> </router-outlet>
</div> -->
