 
    
        <router-outlet> </router-outlet>
<!--
    <ul class="nav navbar-nav">

        <li routerLinkActive="activemenu" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
        </li>

        <li routerLinkActive="activemenu">
            <a routerLink="about">About</a>
        </li>

        <li routerLinkActive="activemenu">
            <a routerLink="contact">Contact</a>
        </li>

        <li routerLinkActive="activemenu" *ngIf="!showLogoutLink">
            <a routerLink="login">Login</a>
        </li>

        <li *ngIf="showLogoutLink">
            <a href="#" (click)="Logout()">Logout</a>
        </li>


    </ul>-->
 


  