<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <!--<i class="material-icons">content_copy</i>-->
          <i class="fa fa-address-book-o" aria-hidden="true"></i>
        </div>
        <p class="card-category">Prospects</p>
        <h3 class="card-title" *ngIf='hasProspectCount'>
          {{prospectCount}}
        </h3>
        <img *ngIf='!hasProspectCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons text-danger">warning</i>-->
          <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
          <a href="#pablo" class="dashboard-shortcut-link" (click)="goToProspects($event)">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <!--<i class="material-icons">store</i>-->
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <p class="card-category">Customers</p>
        <h3 class="card-title" *ngIf='hasCustomerProfileCount'>{{customerProfileCount}} </h3>
        <img *ngIf='!hasCustomerProfileCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons">date_range</i> Last 24 Hours-->
          <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
          <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomers($event)">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <p class="card-category">Requests</p>
        <h3 class="card-title" *ngIf='hasRequestCount'>{{requestCount}}</h3>
        <img *ngIf='!hasRequestCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
          <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomerRequests($event)">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <p class="card-category">Target Goals</p>
        <h3 *ngIf='hasTargetGoalCount' class="card-title">{{targetGoalCount}}</h3>
        <img *ngIf='!hasTargetGoalCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
          <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomerGoals($event)">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Daily Prospects</h4>
        <p class="card-category" *ngIf='isDailyStatisticsDone'>
          <span class="text-success">
            <i class="fa fa-long-arrow-up"></i> {{dailyProspectStatistics?.dailyCountPercentage | number: '.2'}}% </span> increase in today prospects.
        </p>
        <img *ngIf='!isDailyStatisticsDone' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats" *ngIf='isDailyStatisticsDone'>
          <!--<i class="material-icons">access_time</i>-->
          <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> Total for today is {{dailyProspectStatistics?.dailyCount}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-warning">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Daily Customers</h4>
        <p class="card-category" *ngIf='isDailyStatisticsDone'>
          <span class="text-success">
            <i class="fa fa-long-arrow-up"></i> {{dailyCustomerStatistics?.dailyCountPercentage | number: '.2'}}% </span> increase in today customers.
        </p>
        <img *ngIf='!isDailyStatisticsDone' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats" *ngIf='isDailyStatisticsDone'>
          <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> Total for today is {{dailyCustomerStatistics?.dailyCount}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-info">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Daily Target Goals</h4>
        <p class="card-category" *ngIf='isDailyStatisticsDone'>
          <span class="text-success">
            <i class="fa fa-long-arrow-up"></i> {{dailyGoalStatistics?.dailyCountPercentage | number: '.2'}}% </span> increase in today target goals.
        </p>
        <img *ngIf='!isDailyStatisticsDone' src="images/spinner2.gif" class="slide-image" style="width:20%" />
      </div>
      <div class="card-footer">
        <div class="stats" *ngIf='isDailyStatisticsDone'>
          <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> Total for today is {{dailyGoalStatistics?.dailyCount}}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Recent Transactions</h4>
        <p class="card-category">Most recent transactions as at today</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table" [ngClass]="{'table-hover': recentTransactions && recentTransactions.length > 0}">
          <thead class="text-warning">
            <!--<th>S/N</th>-->
            <th>Name</th>
            <th>Target Goal</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of recentTransactions; let index = i">
              <!--<td>{{index}}</td>-->
              <td>{{transaction.customerName}}</td>
              <td>{{transaction.targetGoal}}</td>
              <td>NGN{{transaction.amount | number: '.2'}}</td>
            </tr>

            <tr *ngIf="(!recentTransactions || (recentTransactions && recentTransactions.length < 1)) && !requestOngoing">
              <td>No record found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div class="col-lg-6 col-md-12">
    <div class="card">

      <div class="card-header card-header-primary">
        <h4 class="card-title">Recent Customer Requests</h4>
        <p class="card-category">Most recent transactions as at today</p>
      </div>

      <div class="card-body table-responsive">
        <!--<div class="tab-content">-->
        <table class="table" [ngClass]="{'table-hover': recentRequests && recentRequests.length > 0}">
          <thead class="text-success">
            <th>Name</th>
            <th>Goal</th>
            <th>Request Type</th>
            <!-- <th></th> -->
          </thead>

          <tbody>

            <tr *ngFor="let req of recentRequests;">
              <td>{{req.targetGoal.customerProfile.surname}} {{req.targetGoal.customerProfile.firstName}}</td>
              <td>{{req.targetGoal.goalName}}</td>
              <td>{{req.requestType.requestType}}</td>
              <!-- <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                  <i class="fa fa-eye"></i>
                </button>
              </td> -->
            </tr>

            <tr *ngIf="(!recentRequests || (recentRequests && recentRequests.length < 1)) && !requestOngoing">
              <td>No record found</td>
            </tr>

          </tbody>
        </table>

        <!--</div>-->
      </div>
    </div>
  </div>



</div>
