﻿<div class="wrapper">

  <div class="ng-hide" style="position: relative; user-select: text;" [ngClass]="{'ng-hide': !requestOngoing}">
    <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div>
    <div class="spinner-wrapper">
      <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
        <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
          <div class="loader-wrapper" style="user-select: text;">
            <div class="load" style="user-select: text;">
              <div class="loader" style="user-select: text;"></div>
            </div>
            <div class="spinner-text" style="user-select: text;">Please wait...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar" *ngIf='!isSettings' data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
    <div class="logo">
      <span class="simple-text logo-normal">
        Bolade Ojelabi
      </span>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active ">
          <a class="nav-link" href="../examples/dashboard.html" style="color:#fff;">
            <!--<i class="material-icons">dashboard</i>-->
            <i class="fa fa-home material-icons" aria-hidden="true"></i>
            <p style="color:#fff;">Home</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="goToProspects($event)" style="cursor:pointer;">
            <!--<i class="material-icons">content_paste</i>-->
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
            <p>Prospects</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomers($event)">
            <!--<i class="material-icons">person</i>-->
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Customer Profiles</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerGoals($event)">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            <p>Target Goals</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerRequests($event)">
            <!--<i class="material-icons">bubble_chart</i>-->
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <p>Customer Requests</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="goToCustomerTransactions($event)">
            <!--<i class="material-icons">location_ons</i>-->
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <p>Transactions</p>
          </a>
        </li>

        <!--<li class="nav-item ">
          <a class="nav-link" href="#" (click)="goHome($event)">
            
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p>Settings</p>
          </a>

        </li>-->
        <li class="nav-item ">
          <a class="nav-link" href="#" (click)="openSettings($event)">

            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p>Settings</p>
          </a>

        </li>

        <!--<li class="nav-item active-pro">
        <a class="nav-link" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <p>Logout</p>
        </a>
    </li>-->
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" style="font-weight: 700;font-size: 14px;">
            <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
            <p style="font-size: 17px;">Logout</p>
          </a>
        </li>
        <!-- <li class="nav-item active-pro" style="cursor: pointer;">
          <a class="nav-link" style="font-weight: 700;font-size: 14px;">
            <i aria-hidden="true" class="fa fa-sign-out" style="font-weight: 700;font-size: 25px;"></i>
            <p style="font-size: 17px;">Logout</p>
          </a>
        </li> -->

      </ul>
    </div>
  </div>
  <div class="sidebar" *ngIf='isSettings' data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
      <span class="simple-text logo-normal">
        Settings
        <i class="fa fa-close material-icons" style="margin-left: 45%;" aria-hidden="true" (click)="closeSettings($event)"></i>
      </span>

    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="goToTargetImages($event)">
            <i class="fa fa-image material-icons" aria-hidden="true"></i>
            <p>Goal Images</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-text-width material-icons" aria-hidden="true"></i>
            <p>Target Notes</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-thumbs-up material-icons" aria-hidden="true"></i>
            <p>Request Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-cog material-icons" aria-hidden="true"></i>
            <p>Target Frequency</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo">Dashboard</a>
        </div>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>-->
        <!-- <div class="collapse navbar-collapse justify-content-end " data-color="purple" id="navigation" style="margin-right: 5%;">
          <ul class="nav">
            <li class="nav-item dropdown" style="border: 1px solid purple;">
              <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cogs" aria-hidden="true"></i> Settings
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Goal Images</a>
                <a class="dropdown-item" href="#">Target Notes</a>
                <a class="dropdown-item" href="#">Request Types</a>
                <a class="dropdown-item" href="#">Target Frequency</a>
              </div>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid" style="margin-top: -20px;">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <!--<i class="material-icons">content_copy</i>-->
                  <i class="fa fa-address-book-o" aria-hidden="true"></i>
                </div>
                <p class="card-category">Prospects</p>
                <h3 class="card-title" *ngIf='hasProspectCount'>
                  {{prospectCount}}
                </h3>
                <img *ngIf='!hasProspectCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--<i class="material-icons text-danger">warning</i>-->
                  <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
                  <a href="#pablo" class="dashboard-shortcut-link" (click)="goToProspects($event)">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <!--<i class="material-icons">store</i>-->
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <p class="card-category">Customers</p>
                <h3 class="card-title" *ngIf='hasCustomerProfileCount'>{{customerProfileCount}} </h3>
                <img *ngIf='!hasCustomerProfileCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--<i class="material-icons">date_range</i> Last 24 Hours-->
                  <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
                  <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomers($event)">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                </div>
                <p class="card-category">Requests</p>
                <h3 class="card-title" *ngIf='hasRequestCount'>{{requestCount}}</h3>
                <img *ngIf='!hasRequestCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
                  <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomerRequests($event)">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-bullseye" aria-hidden="true"></i>
                </div>
                <p class="card-category">Target Goals</p>
                <h3 *ngIf='hasTargetGoalCount' class="card-title">{{targetGoalCount}}</h3>
                <img *ngIf='!hasTargetGoalCount' src="images/spinner2.gif" class="slide-image" style="width:20%" />
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="fa fa-info-circle material-icons" aria-hidden="true"></i>
                  <a href="#pablo" class="dashboard-shortcut-link" (click)="goToCustomerGoals($event)">Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Daily Prospects</h4>
                <p class="card-category">
                  <span class="text-success">
                    <i class="fa fa-long-arrow-up"></i> {{prospectsDailyIncrementStat | number: '.2'}}% </span> increase in today prospects.
                </p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!--<i class="material-icons">access_time</i>-->
                  <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> updated 4 minutes ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-warning">
                <div class="ct-chart" id="dailySalesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Daily Customers</h4>
                <p class="card-category">
                  <span class="text-success">
                    <i class="fa fa-long-arrow-up"></i> {{customersDailyIncrementStat | number: '.2'}}% </span> increase in today customers.
                </p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> updated 4 minutes ago
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-info">
                <div class="ct-chart" id="dailySalesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Daily Target Goals</h4>
                <p class="card-category">
                  <span class="text-success">
                    <i class="fa fa-long-arrow-up"></i> {{goalsDailyIncrementStat | number: '.2'}}% </span> increase in today target goals.
                </p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="fa fa-clock-o material-icons" aria-hidden="true"></i> updated 10 minutes ago
                </div>
              </div>
            </div>
          </div>
          <!--<div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="completedTasksChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Pending Customer</h4>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 4 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>-->
        </div>
        <div class="row">

          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">Recent Transactions</h4>
                <p class="card-category">Most recent transactions as at on 15th September, 2018</p>
              </div>
              <div class="card-body table-responsive">
                <table class="table" [ngClass]="{'table-hover': recentTransactions && recentTransactions.length > 0}">
                  <thead class="text-warning">
                    <!--<th>S/N</th>-->
                    <th>Name</th>
                    <th>Target Goal</th>
                    <th>Amount</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of recentTransactions; let index = i">
                      <!--<td>{{index}}</td>-->
                      <td>{{transaction.customerName}}</td>
                      <td>{{transaction.targetGoal}}</td>
                      <td>NGN{{transaction.amount | number: '.2'}}</td>
                    </tr>

                    <tr *ngIf="(!recentTransactions || (recentTransactions && recentTransactions.length < 1)) && !requestOngoing">
                      <td>No record found</td>
                    </tr>
                    <!--<tr>
                                            <td>2</td>
                                            <td>Alade Bekky</td>
                                            <td>Property Purchase</td>
                                            <td>$36,738</td> 
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Andy Rubin</td>
                                            <td>Said Business School</td>
                                            <td>#678,738</td> 
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Sage Rodriguez</td>
                                            <td>Wifey Business</td>
                                            <td>#361,738</td> 
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Philip Chaney</td>
                                            <td>Europe Tour</td>
                                            <td>#361,738</td> 
                                        </tr>-->


                  </tbody>
                </table>
              </div>
            </div>
          </div>



          <div class="col-lg-6 col-md-12">
            <div class="card">

              <div class="card-header card-header-primary">
                <h4 class="card-title">Recent Customer Requests</h4>
                <p class="card-category">Most recent transactions as at on 15th September, 2018</p>
              </div>

              <div class="card-body table-responsive">
                <!--<div class="tab-content">-->
                <table class="table" [ngClass]="{'table-hover': recentRequests && recentRequests.length > 0}">
                  <thead class="text-success">
                    <th>Name</th>
                    <th>Request Type</th>
                    <th></th>
                  </thead>

                  <tbody>

                    <tr *ngFor="let req of recentRequests;">
                      <td>{{req.customerName}}</td>
                      <td>{{req.requestType}}</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                          <i class="fa fa-eye"></i>
                        </button>
                      </td>
                    </tr>

                    <tr *ngIf="(!recentRequests || (recentRequests && recentRequests.length < 1)) && !requestOngoing">
                      <td>No record found</td>
                    </tr>

                    <!--<tr *ngFor="let transaction of recentTransactions; let index = i">
                                                    <td>Philip Chaney</td>
                                                    <td>Liquidation</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Akande Adebola</td>
                                                    <td>Password Reset</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Uju BRed</td>
                                                    <td>Wallet Complaint</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Obama Putin</td>
                                                    <td>Liquidation</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Yinka Coker</td>
                                                    <td>Password Reset</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="View request" class="btn btn-primary btn-link btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>-->

                  </tbody>
                </table>

                <!--</div>-->
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container-fluid">

        <div class="copyright pull-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())

          </script>
          <a href="#" (click)="goHome($event)">FCMB</a>
        </div>
      </div>
    </footer>
  </div>
</div>
