<!--James arthur -- naked-->



<div class="limiter">
  <div class="ng-hide" style="position: relative; user-select: text;" [ngClass]="{'ng-hide': !requestOngoing}">
    <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div>
    <div class="spinner-wrapper">
      <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
        <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
          <div class="loader-wrapper" style="user-select: text;">
            <div class="load" style="user-select: text;">
              <div class="loader" style="user-select: text;"></div>
            </div>
            <div class="spinner-text" style="user-select: text;">Please wait...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid container-login100">
    <div class="row">
      <div style="-webkit-box-flex: 0;max-width: 100%;">
        <div class="card">
          <div class="card-header card-header-primary" style="margin-bottom: 30px;">
            <h4 class="card-title">Target Savings Admin</h4>
            <p class="card-category">Login</p>
          </div>
          <div class="card-body wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

            <form class="login100-form validate-form" [formGroup]="loginFormGroup" autocomplete="off">
              <div class="wrap-input100 validate-input" [ngClass]="{'input-error2': formSubmitted && loginFormGroup.controls.username.errors && loginFormGroup.controls.username.errors.required}">
                <input autocomplete="off" (focus)="clearFormsubmittedOnFocus()" class="input100" type="text" name="username" formControlName="username"
                  [ngClass]="{'has-val': loginFormGroup.controls['username'] && loginFormGroup.controls['username'].value && loginFormGroup.controls['username'].value.length > 0}">
                <span class="focus-input100" data-placeholder="Username" data-symbol="&#xf206;" [ngClass]="{'input-error': formSubmitted && loginFormGroup.controls.username.errors && loginFormGroup.controls.username.errors.required}"></span>
              </div>
              <p *ngIf="formSubmitted && loginFormGroup.controls.username.errors && loginFormGroup.controls.username.errors.required" class="error-label">Username is required</p>

              <div class="wrap-input100 validate-input" data-validate="Password is required" [ngClass]="{'input-error2': formSubmitted && loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.required}">
                <input autocomplete="off" (focus)="clearFormsubmittedOnFocus()" class="input100" type="password" name="pass" formControlName="password"
                  [ngClass]="{'has-val': loginFormGroup.controls['password'] && loginFormGroup.controls['password'].value && loginFormGroup.controls['password'].value.length > 0}">
                <span class="focus-input100" data-placeholder="Password" data-symbol="&#xf206;" [ngClass]="{'input-error': formSubmitted && loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.required}"></span>
              </div>
              <p class="error-label" *ngIf="formSubmitted && loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.required">Password is required</p>

              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button (click)="loginUser()" class="login100-form-btn">
                    Login
                  </button>
                </div>
              </div>



            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
