<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3" style="background-color:#EDF0F3; table-layout:fixed">
    <tbody>
        <tr>
            <td align="center" style="">
                <center style="width:100%">
                    <table border="0" class="x_phoenix-email-container" cellspacing="0" cellpadding="0" width="512" bgcolor="#FFFFFF" style="background-color:#FFFFFF; margin:0 auto; max-width:512px; width:inherit">
                        <tbody>
                            <tr>
                                <td bgcolor="#F6F8FA" style="background-color:#F6F8FA; padding:5px 16px 13px; border-bottom:1px solid #ECECEC">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%!important; min-width:100%!important">
                                        <tbody>
                                            <tr>
                                                <td align="left" valign="middle" style="">
                                                    <a href="https://www.linkedin.com/comm/feed/?midToken=AQEYeg2OqbsSyw&amp;trk=eml-email_interested_candidates_activation_single_01-header-15-home&amp;trkEmail=eml-email_interested_candidates_activation_single_01-header-15-home-null-2mjco6%7Ejjeqeyt4%7Efr-null-neptune%2Ffeed&amp;lipi=urn%3Ali%3Apage%3Aemail_email_interested_candidates_activation_single_01%3BnvVzt8CoRB6KIh%2BPW3hZ%2Fg%3D%3D"
                                                        target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#008CC9; display:inline-block; text-decoration:none">
                                                        <!-- <img data-imagetype="External" src="https://www.linkedin.com/comm/dms/logo?midToken=AQEYeg2OqbsSyw&amp;trk=eml-email_interested_candidates_activation_single_01-null-22-null&amp;trkEmail=eml-email_interested_candidates_activation_single_01-null-22-null-null-2mjco6%7Ejjeqeyt4%7Efr-null-comms%7Ebadging%7Edynamic&amp;lipi=urn%3Ali%3Apage%3Aemail_email_interested_candidates_activation_single_01%3BnvVzt8CoRB6KIh%2BPW3hZ%2Fg%3D%3D&amp;_sig=19ttaMvPNVpok1"
                                                            alt="LinkedIn" border="0" height="42" style="outline:none; color:#FFFFFF; text-decoration:none"> -->
                                                        <img data-imagetype="External" src="https://digitalsavings.fcmb.com/images/email_logo.png" alt="Target Savings"
                                                            border="0" height="42" style="outline:none; color:#FFFFFF; text-decoration:none">
                                                    </a>
                                                </td>
                                                <td valign="middle" width="100%" align="right" style="padding:0 0 0 10px; padding-top:7px">
                                                    <a href="#" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="margin:0; color:#008CC9; display:inline-block; text-decoration:none">
                                                        <span style="word-wrap:break-word; color:#4C4C4C; word-break:break-word; font-weight:400; font-size:14px; line-height:1.429;font-size: 18px;">#NAME#</span>
                                                    </a>
                                                </td>
                                                <!-- <td valign="middle" width="40" style="padding-top:7px; padding-left:10px">
                                                    <a href="https://www.linkedin.com/comm/in/pophils?midToken=AQEYeg2OqbsSyw&amp;trk=eml-email_interested_candidates_activation_single_01-header-23-profile&amp;trkEmail=eml-email_interested_candidates_activation_single_01-header-23-profile-null-2mjco6%7Ejjeqeyt4%7Efr-null-neptune%2Fprofile%7Evanity%2Eview&amp;lipi=urn%3Ali%3Apage%3Aemail_email_interested_candidates_activation_single_01%3BnvVzt8CoRB6KIh%2BPW3hZ%2Fg%3D%3D"
                                                        target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="border-radius:50%; color:#008CC9; display:inline-block; text-decoration:none">
                                                        <img data-imagetype="External" src="https://media.licdn.com/dms/image/C5603AQHM7HTfjqr_OA/profile-displayphoto-shrink_100_100/0?e=2159024400&amp;v=beta&amp;t=aoqCcw8bIm8mlsX22XRUs9RWJTBfHwRqXsQB2HLmoJo"
                                                            alt="" border="0" height="36" width="36" style="border-radius:50%; outline:none; color:#FFFFFF; text-decoration:none">
                                                    </a>
                                                </td> -->
                                                <td width="1" style="">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="">
                                        <tbody>
                                            <tr>
                                                <td style="padding:10px 20px 20px 20px">
                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF" style="background-color:#FFFFFF; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="center" style="width:100%; text-align:center">
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF" style="background-color:#FFFFFF; border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:10px; width:100%; text-align:center">
                                                                                    <img data-imagetype="External" src="https://digitalsavings.fcmb.com/images/fcmb_email_sub.png" width="56"
                                                                                        height="56" style="outline:none; color:#FFFFFF; text-decoration:none">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:10px; width:100%; padding-bottom:10px; text-align:center">
                                                                                    <h2 style="margin:0 auto; color:#262626; font-weight:200; width:95%; font-size:20px; line-height:1.2">
                                                                                        This is to inform you that your liquidation request for your #PLANNAME# Savings Plan was successful.  
                                                                                    </h2>
                                                                                    
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:10px; width:100%; padding-bottom:10px; text-align:center">
                                                                                    <h2 style="margin:0 auto; color:#262626; font-weight:200; width:95%; font-size:20px; line-height:1.2">
                                                                                        Also login in to the savings plan platform to see status of your savings plan.
                                                                                    </h2>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:10px; width:100%; padding-bottom:0px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5">
                                                                                        Savings Plan Amount</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:3px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5; font-weight: bold;">
                                                                                        #AMOUNT#</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:0px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5">
                                                                                        Start Date</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:3px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5; font-weight: bold;">
                                                                                        #STARTDATE#</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:0px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5">
                                                                                        End Date</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:3px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5; font-weight: bold;">
                                                                                        #ENDDATE#</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:0px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5">
                                                                                        Frequency of Contribution</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" width="100%" style="padding-top:0px; width:100%; padding-bottom:3px; text-align:center">
                                                                                    <p style="margin:0 auto; color:#4C4C4C; font-weight:400; width:90%; font-size:16px; line-height:1.5; font-weight: bold;">
                                                                                        #FREQUENCY#</p>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" width="100%" style="margin:20px 0; width:100%; text-align:center">
                                                                    <hr style="background-color:#D9D9D9; margin:20px 0; color:#D9D9D9; border-color:#D9D9D9; border-width:0; border-style:solid; height:1px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" width="100%" style="padding-top:10px; width:100%; padding-bottom:10px; text-align:center">
                                                                    <h2 style="margin:0 auto; color:#262626; font-weight:200; width:95%; font-size:20px; line-height:1.2">
                                                                        Wishing you the very best in achieving your goal.</h2>
                                                                    <h4 style="margin:0 auto; color:#262626; font-weight:200; width:95%; font-size:20px; line-height:1.2">
                                                                        Thank you for banking with us.</h4>
                                                                </td>
                                                            </tr>



                                                            <!-- <tr>
                                                                <td align="center" width="100%" style="width:100%; text-align:center">
                                                                    <p style="margin:0; color:#4C4C4C; font-weight:400; font-size:16px; line-height:1.5">
                                                                        Your Faithfully

                                                                        <br> For First City Monument Bank</p>
                                                                </td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                    <table align="right" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF" style="background-color:#FFFFFF; width:100%; border-collapse:collapse;background-color: #F6F8FA;padding: 5px 16px 13px;border-bottom: 1px solid #ECECEC;margin-top: 45px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" width="100%" style="width:100%; text-align:center;padding-top: 15px;padding-bottom: 15px;">
                                                                    <p style="margin:0; color:#4C4C4C; font-weight:400; font-size:16px; line-height:1.7">
                                                                        #SENDERNAME#
                                                                        <br> #SENDERTITLE#
                                                                        <br> First City Monument Bank Plc
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
<tr>
    <td style="">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3" align="center" style="background-color:#EDF0F3; padding:0 24px; color:#6A6C6D; text-align:center">
            <tbody>
                <tr>
                    <td align="center" style="padding:16px 0 0 0; text-align:center"></td>
                </tr>
                <tr>
                    <td style="">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:0 0 12px 0; text-align:center">
                                        <p style="margin:0; word-wrap:break-word; color:#6A6C6D; word-break:break-word; font-weight:400; font-size:12px; line-height:1.333">
                                            This email was intended for #NAME#.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 0 8px 0; text-align:center">
                                        <a href="#" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#6A6C6D; text-decoration:underline; display:inline-block">
                                            <img data-imagetype="External" src="https://digitalsavings.fcmb.com/images/email_logo.png" alt="FCMB"
                                                border="0" height="24" width="24" style="outline:none; color:#FFFFFF; display:block; text-decoration:none; margin-top: -9px;">
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>