﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional/EN">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <base href="/">

    <link rel="stylesheet" type="text/css" href="css/vendor/googlefont.css">

    <link href="~/css/vendor/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">  

   

    @*LOGIN PAGE*@
    <link href="~/css/main.css" rel="stylesheet"> 
    <link href="~/css/util.css" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="css/vendor/material-dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/demo.css">


    @RenderSection("styles", required: false)    
    

    <script src="~/scripts/libs/es6-shim/es6-shim.min.js"></script>
    <script src="~/scripts/libs/systemjs/dist/system-polyfills.js"></script>
    <script src="~/scripts/libs/core-js/client/shim.min.js"></script>                  
    <script src="~/scripts/libs/zone.js/dist/zone.js"></script>
    <script src="~/scripts/libs/reflect-metadata/temp/Reflect.js"></script>
  
    @*<script src="~/scripts/bundle.min.js.gz"></script>*@



      @*<script src="~/node_modules/rxjs/bundles/Rx.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>*@


    <!-- 2. Configure SystemJS -->
    @*<script src="~/scripts/systemjs.config.js"></script>
    <script>
            System.import('../scripts/ngapp/app/main').catch(function (err) {
                console.error(err);
            });
    </script>*@
  
</head>

<body class="gray-bg">
    <ng-app>    

        <div style="position: relative; user-select: text;">
            <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation" style="user-select: text;"></div><div class="spinner-wrapper">
                <div class="row spin-wrap" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; user-select: text;">
                    <div class="spinner-wrapper columns large-4 large-centered medium-4 medium-centered small-12 small-centered" style="user-select: text;">
                        <div class="loader-wrapper" style="user-select: text;">
                            <div class="load" style="user-select: text;">
                                <!--[if gt IE 9]>
                            <div class="loader"></div>
                            <!--<![endif]-->
                                <!--[if lte IE 9]>
                                <img src="assets/images/spinner.gif" style="height: 40px;width: 40px;" alt="" />
                            <!--<![endif]-->
                                <!--[if !IE]> --><!-- <img src="assets/svg/spinner.svg" alt="please wait" /> --><div class="loader" style="user-select: text;"></div><!-- <![endif]-->
                            </div><div class="spinner-text" style="user-select: text;">Please wait...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    
    </ng-app>

    @RenderBody()
     

    <script type="text/javascript" src="~/scripts/vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/vendor/bootstrap.min.js"></script>  
    <script type="text/javascript" src="~/scripts/vendor/bootstrap-notify.js"></script>  
    @*<script type="text/javascript" src="~/scripts/vendor/moment-with-locales.js"></script>*@ 

    
@*<script type="text/javascript" src="~/scripts/vendor/underscore.js"></script>
<script type="text/javascript" src="~/scripts/vendor/json2.js"></script>
<script type="text/javascript" src="~/scripts/vendor/backbone-min.js"></script>*@ 

    <script src="~/scripts/bundle26.js"></script>

    @*<script src="~/scripts/bundle.js.gz"></script>*@

   

@RenderSection("scripts", required: false)
</body>

</html>


